.navbar {
    display: flex;
    position: sticky;
    background-color: #7f7f8149;
    top: 0;
    height: 80px; }
  
  .navbarlogo {
    height: 38px;
    width: auto; }
    .navbarlogo:hover {
      transition: 0.5s;
      transform: scale(1.05);
      filter: grayscale(50%); }
  
  .navbar__links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 20px; }
    .navbar__links .navbar__link {
      color: #474340;
      text-decoration: none;
      padding: 20px; }
    .navbar__links .navbar__link--active {
      border-bottom: 1.5px solid #271f96;
      font-weight: lighter; }
  